$common-font-family: Consolas, Arial;
$common-font-size: 14px;
$common-text-color: #cccccc;

$toolbar-background-color: #333333;
$toolbar-hover-background-color: #094771;
$toolbar-font-family: $common-font-family;
$toolbar-font-size: $common-font-size;
$toolbar-text-color: $common-text-color;

$workspace-background-color: #252526;
$workspace-text-color: $common-text-color;

$filetree-icon-size: 16px;
$filetree-line-height: 1.5em;
$filetree-indent: 1em;
$filetree-font-family: $common-font-family;
$filetree-font-size: $common-font-size;